<h1>New Email</h1>
<ul>
  <% @clients.each do |client| %>
  <li>
    <%= hidden_field_tag "client_ids[]", client.id %>
    <%= client.first_name %>
  </li>
  <% end %>
</ul>
<%= form_for(@email) do |f| %>
  <% if @email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
      <% @email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email_name %><br>
    <%= f.text_area :email_name %>
  </div>
  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_area :subject %>
  </div>
  <div class="field">
    <%= f.label :from_name %><br>
    <%= f.text_area :from_name %>
  </div>
  <div class="field">
    <%= f.label :from_email %><br>
    <%= f.text_area :from_email %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
