<p id="notice"><%= notice %></p>

<h1>Listing Clients</h1>

<%= form_tag clients_path, :method => 'get', :id => "clients_search" do %>
  <p>
    <%= date_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%= render(
  partial: 'clients/list',
  locals: { clients: @clients }
) %>
<%= will_paginate @clients %>
<br>

<%= link_to 'New Client', new_client_path %>
